.stylo {
    background: linear-gradient(135deg, #101111, #2f0000);
    background-size: cover;
    height: 100vh;
}

.group-css{
    background: linear-gradient(180deg,black,darkred);
    color: white;
}
.sound {
    position:relative;
    background: black;
    display: flex;
    justify-content: center;
    min-height: 11vh;
    align-items: flex-end;
}
.bar {
    background: white;
    margin: 4px;
    width: 8px;
    bottom: 0;
    justify-content: flex-end;
    border-radius: 10px;
    height: 3px;
}
.animate-bar {
    animation: barAnimation 0.1s ease-in-out;
}
@keyframes barAnimation {
    0%, 100% {
        height: 3px;
        transform: translateY(0); /* Reset transform */
    }
    25%, 75% {
        height: 20px;
    }
    50% {
        height: 50px;
    }
}
.sound .bar:nth-child(1) {
    background: #c6a1d5;
    animation-delay: 0.8s;
}
.sound .bar:nth-child(2) {
    background: darkviolet;
    animation-delay: 0.3s;
}
.sound .bar:nth-child(3) {
    background: #c6a1d5;
    animation-delay: 1s;
}
.sound .bar:nth-child(4) {
    background: darkviolet;
    animation-delay: 0.6s;
}
.sound .bar:nth-child(5) {
    background: #c6a1d5;
    animation-delay: 0.7s;
}
.sound .bar:nth-child(6) {
    background: #c6a1d5;
    animation-delay: 0.8s;
}
.sound .bar:nth-child(7) {
    background: #c6a1d5;
    animation-delay: 0.8s;
}
.sound .bar:nth-child(8) {
    background: darkviolet;
    animation-delay: 0.3s;
}
.sound .bar:nth-child(9) {
    background: #c6a1d5;
    animation-delay: 1s;
}
.sound .bar:nth-child(10) {
    background: darkviolet;
    animation-delay: 0.6s;
}
.sound .bar:nth-child(11) {
    background: #c6a1d5;
    animation-delay: 0.7s;
}
.sound .bar:nth-child(12) {
    background: #c6a1d5;
    animation-delay: 0.8s;
}


#FX {
    height: 400px;
    width: 500px;
    position: relative;
    background: linear-gradient(135deg, #101111, #343131);
    box-shadow: 0 0 20px #9d2fe7;
    border: darkviolet;
}


#pads {
    height: 400px;
    width: 480px;
    box-shadow: 0 0 20px #f30b0b; /* Set an orange box shadow */
    background: linear-gradient(135deg, #101111, #343131);
}

#pc {
    height: 400px;
    width: 480px;
    box-shadow: 0 0 20px #f3aa0b; /* Set an orange box shadow */
}
.reverbcircle1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px; /* Adjust the width of the circle as needed */
    height: 210px; /* Adjust the height of the circle as needed */
    background-color: #d56723;
    border-radius: 50%;
    box-shadow: 0 0 50px #d73510;
    animation: animatereverb 1s ease-out infinite;
    transition: all 0.3s ease;
}
@keyframes animatereverb {
    100%{
        opacity: 0;
        width: 200px;
        height: 200px;
    }
}
.reverbcircle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px; /* Adjust the width of the circle as needed */
    height: 170px; /* Adjust the height of the circle as needed */
    background-color: #d56723;
    border-radius: 50%;
    box-shadow: 0 0 100px #d73510;
    transition: all 0.3s ease;
}
.reverbcircle3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px; /* Adjust the width of the circle as needed */
    height: 120px; /* Adjust the height of the circle as needed */
    background-color: #d56723;
    border-radius: 50%;
    box-shadow: 0 0 100px #d73510;
    transition: all 0.3s ease;
}
.reverbcircle4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px; /* Adjust the width of the circle as needed */
    height: 90px; /* Adjust the height of the circle as needed */
    background-color: #d56723;
    border-radius: 50%;
    box-shadow: 0 0 100px #d73510;
    transition: all 0.3s ease;
}
.reverbcircle5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Adjust the width of the circle as needed */
    height: 50px; /* Adjust the height of the circle as needed */
    background-color: #d56723;
    border-radius: 50%;
    box-shadow: 0 0 100px #d73510;
    transition: all 0.3s ease;
}

.child-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:3px solid #05f3ab;
    border-radius: 50%;
    box-shadow: 0 0 20px #73e5d0;
    transition: all 0.3s ease;
    overflow: hidden;
}

/* Additional child circles */
.child-circle1 { width: 50px; height: 50px; animation: animatereverb 1s ease-out infinite; }
.child-circle3 { width: 90px; height: 90px; }
.child-circle4 { width: 130px; height: 130px; }
.child-circle5 { width: 170px; height: 170px; }
.child-circle6 { width: 210px; height: 210px; }
.child-circle7 { width: 250px; height: 250px;}


.wave {
    position: absolute;
    transform: translate(-50%, -50%) rotateX(70deg) perspective(600px) translateZ(120px);
    transform-style: preserve-3d;
    left: 50%;
    border: 10px solid white;
    border-radius: 50%;
    box-shadow: 0 0 20px #12f6ee;
    transition: all 0.3s ease;
}
.line{
    position: absolute;
    transform: translate(-50%, -50%) rotateX(70deg) perspective(600px) translateZ(120px);
    transform-style: preserve-3d;
    left: 50%;
    width: 0px;
    height: 0px;
    top:115%;
    border: 5px white solid;
    box-shadow: 0 0 20px 5px #68d3a4;
    transition: all 0.3s ease;
}
.cone {
    position: absolute;
    left: 50%;
    bottom: 30%;
    top: 30%;
    width: 0;
    height: 0;
    border-style: dotted;
    border-width: 25px 25px 100px 25px; /* Adjust these values to control the dimensions of the cone */
    border-color: transparent transparent #68d3a4 transparent;
    transform: rotateX(180deg) translate(-50%, -50%);
    opacity: 20%;
    transition: all 0.3s ease;
    animation: infinite glow 2s;
}
@keyframes glow {
    0%,100% {
        transform: translateY(0px) rotateX(180deg) translate(-50%, -50%) /* Initial glow color and spread */
    }
    50%{
        transform: translateY(50px) rotateX(180deg) translate(-50%, -50%)
    }
}

.wave2 {
    width: 50px;
    height: 50px;
    top: 115%;
}

.wave3 {
    width: 100px;
    height: 100px;
    top:115%;
}

.wave4 {
    width: 150px;
    height: 150px;
    top:115%;
}

.wave5 {
    width: 200px;
    height: 200px;
    top:115%;
}
.wave1 {
    width: 10px;
    height: 10px;
    top:115%;
    animation: animatereverb 0.5s ease-out infinite;
}

.black {
    background: black;
}

.pulsefdb{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #0ef;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 40%;
}
.pulsefdb span{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: animatePulse 4s ease-out infinite;
    animation-delay: calc(1s *var(--i));
}

@keyframes animatePulse {
    100%{
        opacity: 0;
        transform: scale(2);
    }
}
#ss,#dp{
    cursor: pointer;
}
.knob1, .knob2, .knob3, .knob4 {
    width: 100px;
    height: 100px;
    background-color: #2c3e50;
    border-radius: 50%;
    position: relative;
    transform: rotate(0deg);
    border-color: hsl(360, 100%, 50%);
    box-shadow: 0 0 20px #dbe5e1;
}

.knob:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 40px;
    background-color: #ecf0f1;
    border-radius: 5px;
}

.txt {
    color: #7ad9af;
}
.piano {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.key {
    height: 100px;
    width:55px;
    border: 1px solid #000;
    border-radius:0 0 5px 5px;
    box-sizing: border-box;
}

.white-key {
    background-color: #fff;
}

.black-key {
    background-color: #000;
    border-radius:0 0 5px 5px;
    height: 50px;
    width: 25px;
    margin-left: -12.5px;
    margin-right: -12.5px;
    z-index: 1;
}
.pad{
    height:80px;
    width: 90px;
    border: 2px #7e1111 solid;
    border-radius: 5px;
    background: black;
}
.padactive {
    background: linear-gradient(135deg, #101111, #252424);
    box-shadow: 0 0 5px 5px red;
    border: 3px #880808 solid;
}
.loop{
    box-shadow: 0 0 20px 0 greenyellow;
}